:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 2px solid black;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  color: rgb(141, 130, 90);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(179, 165, 115);
}
button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}
