.auth_container {
  width: 200px;
  /* height: 200px; */
  padding: 20px;
  border: 2px solid rgb(179, 165, 115);
  border-radius: 10px;
}

.auth_input-login {
  width: 95%;
  margin-bottom: 10px;
}

.auth_input-password {
  width: 95%;
  margin-bottom: 10px;
}

.auth_button {
  padding: 6px 12px;
}
