.auth__container {
  width: 200px;
  padding: 20px;
  border: 2px solid rgb(179, 165, 115);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__title {
  color: black;
  padding: 10px;
}

.auth__input-login {
  width: 95%;
  margin-bottom: 10px;
}

.auth__input-password {
  width: 95%;
  margin-bottom: 20px;
}

.auth__message {
  color: red;
  padding-bottom: 10px;
}

.auth__button {
  padding: 6px 12px;
}
